* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header-left img {
    width: 100px;
    height: 122px;
}

.header-left {
    margin-top: 30px;
    margin-left: 50px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 279px;
    height: 49px;
    gap: 35px;
    margin-top: 30px;
    margin-right: 30px;
}

.btn-signup {
    cursor: pointer;
    color: white;
    background-color: #2A3647;
    width: 91px;
    height: 39px;
    border-radius: 8px;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    color: white;
    background-color: #2A3647;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
}

.btn-guestlogin {
    background-color: white;
    width: 177px;
    height: 48px;
    border: 1px solid #2A3647;
    border-radius: 8px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 652px;
    height: 449px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 8px;
}

.login h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 70px;
    gap: 16px;
}

.login-separater {
    background-color: #29ABE2;
    width: 150px;
    height: 2px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 152px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-input input {
    width: 422px;
    height: 48px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 48px;
    gap: 35px;
    margin-top: 5px;
}